
  	 #hidden{max-height:180px; overflow:auto;}
  	 .xyz{max-width:80px; max-height:40px;}
  	 #D{background-color:black;}
  	 .wh{color:white;}
  	 .container{margin-top:30px;}
  	 h1,h2,h3,h4,h5,h6{font-family:Comic Sans MS;}
  	 body{background-color:lightgray;}
  	 .event gallery img{max-width: 200px;max-height: 100px;}
  td img {max-width: 100px;max-height: 70px;}
  #hh>img{width: 130px; height: 60px;}